// Layout
// ----------------------------------------------------------------------------

@use "variables" as v;

:root {
  color: v.$color;
  font-family: v.$font-family;
  font-size: v.$font-size;
  line-height: v.$line-height;
}
