// Variables
// ----------------------------------------------------------------------------

@use "sass:math";

$color: #222;
$font-family: sans-serif;
$font-size: math.div(36, 2);
$line-height: 1.5;
